[MaxScale]
threads=auto
log_info=0
syslog=1
passive=0
logdir=/maxscale/logs/maxscale_logs
auth_connect_timeout=20s
auth_read_timeout=20s
auth_write_timeout=20s
query_retries=2
query_retry_timeout=30s
load_persisted_configs=false
admin_secure_gui=false

[node1]
type=server
address=192.168.56.x
port=6603
protocol=mariadbbackend
proxy_protocol=ON

[node2]
type=server
address=192.168.56.y
port=6603
protocol=mariadbbackend
proxy_protocol=ON

[MySQLMonitor]
type=monitor
module=mariadbmon
servers=node1,node2
user=repuser
password={MonPWD}
replication_user=repuser
replication_password={RepPWD}
monitor_interval=5000ms
auto_failover=true
auto_rejoin=true
enforce_read_only_slaves=1
backend_connect_timeout=10s
backend_read_timeout=10s
backend_write_timeout=10s
journal_max_age=15552000s

[ReadWriteSplitService]
type=service
router=readwritesplit
servers=node1,node2
user=maxuser
password={SvcPWD}
master_failure_mode=fail_instantly
max_slave_replication_lag=1s

[ReadWriteMasterService]
type=service
router=readconnroute
servers=node1,node2
user=maxuser
password={SvcPWD}
router_options=master

[ReadOnlySlaveService]
type=service
router=readconnroute
servers=node1,node2
user=maxuser
password={SvcPWD}
router_options=slave

[ReadWriteSplitListener]
type=listener
service=ReadWriteSplitService
protocol=mariadbclient
address=0.0.0.0
port=4404
authenticator_options=lower_case_table_names=1

[ReadWriteMasterListener]
type=listener
service=ReadWriteMasterService
protocol=mariadbclient
address=0.0.0.0
port=4405
authenticator_options=lower_case_table_names=1

[ReadOnlySlaveListener]
type=listener
service=ReadOnlySlaveService
protocol=mariadbclient
address=0.0.0.0
port=4406
authenticator_options=lower_case_table_names=1
